html, body, div, h1, h2, h3, h4, a, img, span, p, input, select, button, label, form{
	margin:0;
	padding:0;
}

html, body{
	font-size:medium;
	font-family:serif;
}

iframe{
	height:0;
	width:0;
	display:none;
}

li{
	padding:0.8em 0;
}

#top-bar{
	background:blue;
	padding:3px;
	/*display:none;*/
}

#top-bar a:hover{
	background:white;
}

#content{
	padding:1em 2em;
	width:768px;
}

#notice{
	font-size:1.2em;
	font-weight:bold;
}

#page-title{
}

#section-title{
	
}

#date-time{
	font-size:0.9em;
	padding:0.5em 0;
	font-family: Consolas,"Lucida Console",Courier;
}

date{
	margin-right:0.5em;
}

formline{
	display:block;
	padding:10px;
}

h4.form-section{
	text-decoration:underline;
	padding:1em 0;
}

label{
	width:calc(20% - 10px);
	display:inline-block;
	vertical-align:middle;
}

label.fishname{
	width:60%;
}

postlabel{
	width:calc(80% - 10px);
	display:inline-block;
	vertical-align:middle;
}

postlabel input, postlabel select{
	width:54%;
	display:inline-block;
}

postlabel vlabel.error{
	/*width:calc(40% - 1em);*/
	padding:0 0 0 0.5em;
	display:inline;
	vertical-align:middle;
}

formline.time input, formline.coords input{
	display:inline;
	width:auto;
}

formline.time postlabel, formline.coords postlabel{
	display:inline;
}

formline.time label:last-of-type, formline.coords label:last-of-type{
	display:inline;
}

formline.time vlabel, formline.coords vlabel, formline.crab-measure vlabel{
	display:inline-block;
	width:10%;
}

formline.paragraphs{
	/*color:rgba(128, 128, 0, 1);*/
	color:#00A5FF;
}

formline.radios label{
	display:inline;
}

formline.radios input[type="number"]{
	vertical-align:middle;
}

formline.crab-measure label{
	display:inline;
	width:auto;
}

formline.crab-measure postlabel input, formline.crab-measure postlabel select{
	display:inline;
	width:auto;
}

formline.crab-measure postlabel{
	display:inline;
}

span.units-reminder{
	font-size:0.7em;
	opacity:0.7;
	padding:0 0.5em;
}

span.review-data, label.review-data{
	color:rgba(0, 155, 55, 1);
}

span.label-style{
	display:inline-block;
	vertical-align:middle;
	width:30%;
}

input[type="checkbox"]{
	vertical-align:middle;
	margin:0 0.5em 0 0;
}

input[type="radio"]{
	vertical-align:middle;
	margin:0 0.5em;
}

label[type="count"]{
	margin:0 0.5em;
	font-weight:bold;
}

button{
	cursor:pointer;
}

textarea{
	resize:none;
	vertical-align:middle;
}

#back{
	display:block;
}

.tabular{
	display:table;
	background:rgba(128,128,128,0.1);
}

.tabular.review{
	color:rgba(0, 155, 55, 1);
}

.tabular.review div:first-of-type{
	color:black;
}

.tabular div{
	display:table-row;
	padding:10px;
}

.tabular div:first-of-type{
	background:rgba(128,128,128,0.1);
}

.tabular div:first-of-type span{
	border-bottom:1px solid rgba(0,0,0,0.5);
}

.tabular div span{
	display:table-cell;
	padding:0 2px;
}

.faded{
	opacity:0.5;
}

.red{
	color:red;
}

.underline{
	text-decoration:underline;
}

.sci-name{
	font-style:italic;
}

.checkboxline{
	margin:3px 0;
}

.button{
	cursor:pointer;
}

.button:hover{
	text-decoration:underline;
}

x{
	cursor:pointer;
}