html, body, div, h1, h2, h3, a, img, span, p, input, select, button, label, form{
	margin:0;
	padding:0;
}

iframe{
	height:0;
	width:0;
	display:none;
}

#top-bar{
	background:blue;
}

formline{
	display:block;
	margin:10px 0;
}

button{
	cursor:pointer;
}

#back{
	display:block;
}

.faded{
	opacity:0.5;
}

.red{
	color:red;
}

.underline{
	text-decoration:underline;
}

.checkboxline{
	margin:3px 0;
}